.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  right: 0;
  top: 75%;
  transform: translateY(-10%);
  width: 250px; /* Lebar yang lebih besar untuk sidebar */
  background-color: #f44336; /* Warna merah untuk menarik perhatian */
  color: white;
  padding: 30px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1001; /* Pastikan lebih tinggi dari elemen lain */
}

aside h2 {
  font-size: 20px;
  text-align: center;
}

aside p {
  font-size: 16px;
  text-align: center;
}

#home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.responsive-background {
  background-image: url("assets/backgrounds/home-bg.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: brightness(110%) contrast(120%);
}

#home h2 {
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#home h3 {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.grid-item:nth-child(1) {
  grid-column: span 3;
  grid-row: span 2;
} /* Spans 3 columns and 2 rows */
.grid-item:nth-child(2) {
  grid-column: span 6;
} /* Spans 6 columns */
.grid-item:nth-child(3) {
  grid-column: span 3;
  grid-row: span 3;
} /* Spans 3 columns and 3 rows */
.grid-item:nth-child(4) {
  grid-column: span 6;
} /* Spans 4 columns */
.grid-item:nth-child(5) {
  grid-column: span 4;
  grid-row: span 2;
} /* Spans 4 columns and 2 rows */
.grid-item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
} /* Spans 2 columns and 2 rows */
.grid-item:nth-child(7) {
  grid-column: span 3;
} /* Spans 3 columns */
.grid-item:nth-child(8) {
  grid-column: span 6;
} /* Spans 5 columns and 2 rows */

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling untuk section form */
form {
  background-color: #fff; /* Warna latar belakang */
  padding: 20px 40px 20px 20px; /* Padding di dalam form */
  border-radius: 8px; /* Border radius untuk tampilan yang lebih lembut */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
  width: 80%; /* Lebar form */
  margin: 20px auto; /* Margin untuk rata tengah */
  text-align: left; /* Teks rata kiri */
}

#form h3 {
  font-size: 24px; /* Atur ukuran font lebih besar */
  text-align: center; /* Teks dibuat rata tengah */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Lebar input sesuai dengan kontainer */
  padding: 10px; /* Padding di dalam input */
  margin-top: 10px; /* Margin di atas input */
  margin-bottom: 20px; /* Margin di bawah input */
  border: 1px solid #ccc; /* Border input */
  border-radius: 4px; /* Border radius input */
}

button {
  background-color: #4caf50; /* Warna latar belakang hijau */
  color: white; /* Warna teks putih */
  padding: 15px 32px; /* Padding membuat tombol lebih besar */
  text-align: center; /* Teks di tengah */
  text-decoration: none; /* Tidak ada garis bawah */
  display: inline-block; /* Tipe display */
  font-size: 16px; /* Ukuran font */
  margin: 4px 2px; /* Margin sekitar tombol */
  cursor: pointer; /* Cursor berbentuk pointer */
  border: none; /* Tidak ada border */
  border-radius: 8px; /* Border bulat */
  transition: background-color 0.3s; /* Transisi untuk hover */
}

.highlight {
  color: #03ff8e; /* Warna latar belakang oranye cerah */
  font-weight: bold; /* Teks berbahaya */
  font-size: 30px;
}

button:hover {
  background-color: #45a049; /* Warna latar belakang saat di-hover */
}

/* Responsif untuk max-width 800px */
@media (max-width: 800px) {
  form {
    width: 80%; /* Lebar form lebih besar untuk layar yang lebih kecil */
  }
}

/* Responsif untuk max-width 600px */
@media (max-width: 600px) {
  form {
    width: 60%; /* Lebar form penuh pada layar yang sangat kecil */
  }
}

footer {
  background-color: #333; /* Warna latar belakang gelap */
  color: white; /* Warna teks putih */
  padding: 20px 10px; /* Padding atas-bawah dan kiri-kanan */
  text-align: center; /* Teks rata tengah */
  position: relative; /* Posisi relatif */
  bottom: 0; /* Letakkan di bawah halaman */
}

/* Styling untuk promo hari ini */
.promo {
  background-color: #ff9800; /* Warna latar belakang oranye cerah */
  color: white; /* Warna teks putih */
  padding: 20px; /* Padding yang cukup untuk membuat teks tidak terlalu dekat dengan tepi */
  margin: 20px auto; /* Margin untuk rata tengah */
  text-align: center; /* Teks rata tengah */
  border-radius: 10px; /* Tepi yang melengkung */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan untuk menambah kedalaman */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi untuk efek hover */
}

.promo:hover {
  transform: scale(1.05); /* Efek hover yang memperbesar promo */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Bayangan yang lebih dinamis saat hover */
}

.promo.active {
  display: none;
}

/* Media query untuk layar dengan maksimal lebar 800px */
@media (max-width: 800px) {
  .promo {
    padding: 15px; /* Mengurangi padding dari 20px menjadi 15px */
  }
  .promo h2 {
    font-size: 18px;
  }
  .promo p {
    font-size: 14px;
  }
  .highlight {
    font-size: 25px;
  }
}

/* Media query untuk layar dengan maksimal lebar 600px */
@media (max-width: 600px) {
  .promo {
    padding: 10px; /* Mengurangi padding dari 20px menjadi 10px */
  }
  .promo h2 {
    font-size: 16px;
  }
  .promo p {
    font-size: 12px;
  }
  .highlight {
    font-size: 20px;
  }
}

/* Aturan CSS untuk lebar layar maksimal 800px */
@media (max-width: 800px) {
  .product-item {
    flex-direction: column; /* Mengatur item produk secara vertikal */
    width: 100%; /* Atur lebar item produk menjadi 50% dari kontainer */
    padding: 10px; /* Berikan padding */
    margin-bottom: 20px; /* Menambahkan jarak di bawah setiap item produk */
  }
}

/* Aturan CSS untuk lebar layar maksimal 600px */
@media (max-width: 600px) {
  .product-item {
    flex-direction: column; /* Mengatur item produk secara vertikal */
    width: 100%; /* Mengatur lebar setiap item produk menjadi penuh */
    margin-bottom: 20px; /* Menambahkan jarak di bawah setiap item produk */
  }
  .responsive-background {
    background-image: url("assets/backgrounds/mobile-bg.jpg");
  }

  #home {
    padding: 25px;
  }

  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin: 10px 25px;
  } */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
  }

  .grid-item:nth-child(1) {
    grid-column: span 3;
    grid-row: span 2;
  } /* Spans 3 columns and 2 rows */
  .grid-item:nth-child(2) {
    grid-column: span 5;
  } /* Spans 6 columns */
  .grid-item:nth-child(3) {
    grid-column: span 5;
    grid-row: span 3;
  } /* Spans 3 columns and 3 rows */
  .grid-item:nth-child(4) {
    grid-column: span 3;
    grid-row: span 2;
  } /* Spans 4 columns */
  .grid-item:nth-child(5) {
    grid-column: span 6;
    grid-row: span 2;
  } /* Spans 4 columns and 2 rows */
  .grid-item:nth-child(6) {
    grid-column: span 2;
  } /* Spans 2 columns and 2 rows */
  .grid-item:nth-child(7) {
    grid-column: span 3;
  } /* Spans 3 columns */
  .grid-item:nth-child(8) {
    grid-column: span 5;
  } /* Spans 5 columns and 2 rows */
}
