@font-face {
  font-family: "header";
  src: url("assets/fonts/Facon.ttf");
}

header {
  background-color: #333;
  color: white;
  padding: 20px 20px; /* Padding yang lebih besar untuk desktop */
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 36px; /* Ukuran font yang lebih besar untuk judul */
  font-family: "header";
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px; /* Margin yang lebih besar antar item */
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px; /* Padding yang lebih besar untuk link */
  display: block;
  font-size: 18px; /* Ukuran font yang lebih besar untuk navigasi */
}

nav ul li a:hover {
  background-color: #555;
}

.hamburger-menu {
  cursor: pointer;
  fill: white;
  transition: fill 0.3s ease;
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
}

.hamburger-menu:hover {
  fill: #555;
}

.nav-list {
  display: none;
  position: absolute;
  background-color: #333;
  width: 100%;
  top: 60px;
  left: 0;
  border-top: 1px solid #555;
}

.nav-list li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  header {
    padding: 10px 10px;
  }
  header h1 {
    font-size: 28px;
    padding-left: 10px;
  }
  nav ul li a {
    padding: 10px 15px;
  }
  /* .hamburger-menu {
    display: none;
  } */
}

@media (max-width: 600px) {
  header {
    display: block;
  }

  header h1 {
    margin-top: 5px;
  }

  nav ul li a {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list {
    display: block;
  }
}
